<div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
    <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">Messaging</h5>
    <div class="row m-0">
        <div class="border-right col-lg-5 col-xl-4 px-0">
            <div class="osahan-chat-left">
                <div class="position-relative icon-form-control p-3 border-bottom">
                    <i class="feather-search position-absolute"></i>
                    <input placeholder="Search messages" type="text" class="form-control">
                </div>
                <div class="osahan-chat-list">
                    <a href="" *ngFor="let contact of contacts">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/p9.png" alt=""></div>
                            <div class="font-weight-bold mr-1 overflow-hidden">
                                <div class="text-truncate text-white">{{ contact.name }}</div>
                                <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check text-primary"></i> {{ contact.description }}</div>
                            </div>
                            <span class="ml-auto mb-auto">
                                <div class="text-right text-muted pt-1 small">{{ contact.createdAt | date }}</div>
                            </span>
                        </div>
                    </a>
                    <!--
                    <div class="p-3 d-flex align-items-center bg-light border-left border-primary  border-bottom osahan-post-header overflow-hidden">
                        <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/p1.png" alt=""></div>
                        <div class="font-weight-bold mr-1 overflow-hidden">
                            <div class="text-truncate">Carl Jenkins
                            </div>
                            <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
                        </div>
                        <span class="ml-auto mb-auto">
                            <div class="text-right text-muted pt-1 small">00:21PM</div>
                        </span>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-8 px-0">
            <div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
                <div class="font-weight-bold mr-1 overflow-hidden">
                    <div class="text-truncate">Carl Jenkins
                    </div>
                    <div class="small text-truncate overflow-hidden text-black-50">Askbootstap.com - Become a Product Manager with super power</div>
                </div>
                <span class="ml-auto">
                    <button type="button" class="btn btn-light btn-sm rounded-circle ml-2">
                        <i class="feather-phone"></i>
                    </button>
                    <button type="button" class="btn btn-light btn-sm rounded-circle ml-2">
                        <i class="feather-video"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-light btn-sm rounded-circle ml-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-more-vertical"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button"><i class="feather-trash"></i> Delete</button>
                            <button class="dropdown-item" type="button"><i class="feather-x-circle"></i> Turn Off</button>
                        </div>
                    </div>
                </span>
            </div>
            <div class="osahan-chat-box p-3 border-top border-bottom bg-light">
                <div class="text-center my-3">
                    <span class="px-3 py-2 small bg-white shadow-sm  rounded">DEC 21, 2020</span>
                </div>
                <div class="d-flex align-items-center osahan-post-header col-9 m-2">
                    <div class="dropdown-list-image mr-3 mb-auto"><img class="rounded-circle" src="assets/img/p1.png" alt=""></div>
                    <div class="mr-1 p-3 border content">
                        <div class="text-truncate h6 mb-3">Carl Jenkins</div>
                        <p>Hi Marie</p>
                        <p>welcome to Live Chat! My name is Jason. How can I help you today?
                            <a href="#">iamosahan@gmail.com</a>
                        </p>
                        <span class="ml-auto mb-auto">
                            <div class="text-right text-muted pt-1 small">00:21PM</div>
                        </span>
                    </div>
                </div>
                <!-- my message -->
                <div class="d-flex align-items-center osahan-post-header col-9 float-right m-2">
                    <div class="mr-1 p-3 border content">
                        <div class="text-truncate h6 mb-3 float-right ">Maester Lyb</div>
                        <p class="mt-4">Hi Marie</p>
                        <p>welcome to Live Chat! My name is Jason. How can I help you today?
                            <a href="#">iamosahan@gmail.com</a>
                        </p>
                        <span class="ml-auto mb-auto">
                        <div class="text-muted pt-1 small">00:21PM</div>
                        </span>
                    </div>
                    <div class="dropdown-list-image mr-3 mb-auto">
                        <img class="rounded-circle" src="assets/img/p1.png" alt="">
                    </div>
                </div>
                <!-- received message -->
                <div class="d-flex align-items-center osahan-post-header col-9 m-2">
                    <div class="dropdown-list-image mr-3 mb-auto"><img class="rounded-circle" src="assets/img/p1.png" alt=""></div>
                    <div class="mr-1 p-3 border content">
                        <div class="text-truncate h6 mb-3">Carl Jenkins</div>
                        <p>Hi Marie</p>
                        <p>welcome to Live Chat! My name is Jason. How can I help you today?
                            <a href="#">iamosahan@gmail.com</a>
                        </p>
                        <span class="ml-auto mb-auto">
                            <div class="text-right text-muted pt-1 small">00:21PM</div>
                        </span>
                    </div>
                </div>
                <div class="text-center my-3">
                    <span class="px-3 py-2 small bg-white shadow-sm rounded">DEC 22, 2020</span>
                </div>
            </div>
            <div class="w-100 border-top border-bottom">
                <textarea placeholder="Write a message…" class="form-control border-0 p-3 shadow-none" rows="2"></textarea>
            </div>
            <div class="p-3 d-flex align-items-center">
                <div class="overflow-hidden">
                    <button type="button" class="btn btn-light btn-sm rounded">
                        <i class="feather-image"></i>
                    </button>
                    <button type="button" class="btn btn-light btn-sm rounded">
                        <i class="feather-paperclip"></i>
                    </button>
                    <button type="button" class="btn btn-light btn-sm rounded">
                        <i class="feather-camera"></i>
                    </button>
                </div>
                <span class="ml-auto">
                    <button type="button" class="btn btn-primary btn-sm rounded">
                        <i class="feather-send"></i> Send
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>