<div class="row">
    <!-- Main Content -->
    <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
      <div class="tab-content" id="nav-tabContent">
         <div class="tab-pane fade show active" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
            <app-chat [profil]="profil"></app-chat>
         </div>
         <div class="tab-pane fade" id="list-contact" role="tabpanel" aria-labelledby="list-contact-list">
            <app-repertoire [repertoire]="repertoire" [profil]="profil"></app-repertoire>
         </div>
         <div class="tab-pane fade" id="list-archived" role="tabpanel" aria-labelledby="list-archived-list">
            <app-archive></app-archive>
         </div>
         <div class="tab-pane fade" id="list-teams" role="tabpanel" aria-labelledby="list-teams-list">
            <app-team-page></app-team-page>
         </div>
         <div class="tab-pane fade" id="list-statut" role="tabpanel" aria-labelledby="list-statut-list">
            <app-statut></app-statut>
         </div>
         <div class="tab-pane fade" id="list-lock" role="tabpanel" aria-labelledby="list-lock-list">
            <app-contact-lock></app-contact-lock>
         </div>
      </div>
    </main>
    <aside class="col col-xl-3 order-xl-2 col-lg-12 order-lg-2 col-12">
       <div class="box mb-3 shadow-sm border rounded bg-white list-sidebar">
          <div class="box-title p-3">
             <h6 class="m-0">Manage my network</h6>
          </div>
          <div class="list-group list-group-flush" id="list-tab" role="tablist">
             <a class="list-group-item list-group-item-action active" id="list-chat-list" data-toggle="list" href="#list-chat" role="tab" aria-controls="chat">
                <i class="feather-user mr-2 text-dark"></i> <span class="ml-auto font-weight-bold text-white">Conversations {{ profil.listDisc.length }}</span>
             </a>
             <a class="list-group-item list-group-item-action" id="list-contact-list" data-toggle="list" href="#list-contact" role="tab" aria-controls="contact">
                <i class="feather-users mr-2 text-dark"></i> <span class="ml-auto font-weight-bold text-white">Contacts {{ repertoire.contacts.length }}</span>
             </a>
             <a class="list-group-item list-group-item-action" id="list-archived-list" data-toggle="list" href="#list-archived" role="tab" aria-controls="archived">
                <i class="feather-user-check mr-2 text-dark"></i> <span class="ml-auto font-weight-bold text-white">Archive 0</span>
             </a>
             <a class="list-group-item list-group-item-action" id="list-teams-list" data-toggle="list" href="#list-teams" role="tab" aria-controls="teams">
                <i class="feather-message-circle mr-2 text-dark"></i> <span class="ml-auto font-weight-bold text-white">Groupes 0</span>
             </a>
             <a class="list-group-item list-group-item-action" id="list-statut-list" data-toggle="list" href="#list-statut" role="tab" aria-controls="statut">
                <i class="feather-clipboard mr-2 text-dark"></i> <span class="ml-auto font-weight-bold text-white">Statuts 0</span>
             </a>
             <a class="list-group-item list-group-item-action" id="list-lock-list" data-toggle="list" href="#list-lock" role="tab" aria-controls="lock">
                <i class="feather-lock mr-2 text-dark"></i> <span class="ml-auto font-weight-bold text-white">Personnes bloqués 0</span>
             </a>
          </div>
       </div>
       <div class="box shadow-sm mb-3 border rounded bg-white ads-box text-center">
          <div class="image-overlap-2 pt-4">
             <img src="assets/img/l4.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
             <img src="assets/img/user.png" class="img-fluid rounded-circle shadow-sm" alt="Responsive image">
          </div>
          <div class="p-3 border-bottom">
             <h6 class="text-dark">Informations personnelles</h6>
             <p class="mb-0 text-success"> {{ profil.name }} </p>
             <p class="mb-0 text-success"> {{ profil.phone }} </p>
             <p class="mb-0 text-secondary"> {{ profil.description }} </p>
          </div>
          <div class="p-3">
             <button type="button" class="btn btn-outline-warning btn-sm pl-4 pr-4" (click)="logout()"> DECONNECTER </button>
          </div>
       </div>
    </aside>
 </div>
 <input type="number" name="listDisc" [(ngModel)]="profil.listDisc.length" (change)="actudisc()">