<div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
    <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">Répertoire</h5>
    <div class="row m-0">
        <div class="border-right col-lg-12 col-xl-12 px-0">
            <div class="osahan-chat-left">
                <div class="position-relative icon-form-control p-3 border-bottom">
                    <i class="feather-search position-absolute"></i>
                    <input placeholder="Search messages" type="text" class="form-control">
                </div>
                <div class="osahan-chat-list">
                    <h5 class="text-primary text-center border">my Contacts</h5>
                    <a *ngFor="let contact of contacts">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/p9.png" alt=""></div>
                            <div class="font-weight-bold mr-1 overflow-hidden">
                                <div class="text-truncate h6 text-white">{{ contact.name }}</div>
                                <div class="small text-truncate overflow-hidden text-black-50"> {{ contact.description }}</div>
                            </div>
                        </div>
                    </a>
                    <h5 class="text-success text-center border">Others Contacts</h5>
                    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden" *ngFor="let user of users">
                        <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/p9.png" alt=""></div>
                        <div class="font-weight-bold mr-1 overflow-hidden">
                            <div class="text-truncate h6 text-white">{{ user.name }}</div>
                            <div class="small text-truncate overflow-hidden text-black-50"> {{ user.description }}</div>
                        </div>
                        <span class="ml-auto mb-auto">
                            <button type="button" class="btn btn-light btn-sm rounded-circle ml-2" (click)="add(user)">
                                <i class="feather-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>